# Python bytecode & caching
__pycache__/
*.py[cod]
.pytest_cache/

# Environments & Build artifacts
.venv/
build/
dist/
*.egg-info/
.hatch/

# IDEs and Code Editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Temporary/OS files
Docs/~$*
.DS_Store
Thumbs.db